.random-planet {
  display: flex;
  padding: 1rem;
}

.random-planet__img {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  margin-right: 1rem;
}

.random-planet__content h2 {
  font-size: 1.4rem;
}

.random-planet__list {
  margin: 1rem 0 0 1rem;
  padding: 0;
  list-style: none;
}

.random-planet__item {
  padding: .25rem;
  border-bottom: 1px solid #444;
}

.random-planet__item:last-child {
  border-bottom: none;
}

.random-planet__item .term {
  margin-right: .5rem;
}