.item-details {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  flex-direction: row;
  /* width: calc(50% - 15px); */
  padding: 1rem;
}

.item-details .item-image {
  width: 30%;
  height: auto;
  margin-right: 1rem;
  border-radius: 10px;
}

.item-details .list-group-item {
  padding: .25rem;
}

.item-details .list-group-item .term {
  margin-right: .5rem;
}

.item-details__message {
  width: 100%;
  text-align: center;
}

.card__btn {
  width: 100%;
}

@media(max-width: 844px) {
  .item-details {
    width: 100%;
    margin: 1rem 0;
  }
}