.person-details {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  margin-left: 15px;
  flex-direction: row;
  width: calc(50% - 15px);
  padding: 1rem;
}

.person-details .person-image {
  width: 30%;
  height: auto;
  margin-right: 1rem;
  border-radius: 10px;
}

.person-details .list-group-item {
  padding: .25rem;
}

.person-details .list-group-item .term {
  margin-right: .5rem;
}

.person-details__message {
  width: 100%;
  text-align: center;
}

.card__btn {
  width: 100%;
}

@media(max-width: 844px) {
  .person-details {
    width: 100%;
    margin: 1rem 0;
  }
}