.item-list {
  width: calc(50% - 15px);
  margin-top: 1rem;
  margin-right: 15px;
}

.item-list .list-group-item {
  cursor: pointer;
}

.item-list .list-group-item:hover {
  background-color: #444;
}

@media(max-width: 844px) {
  .item-list {
    width: 100%;
    margin: 1rem 0;
  }
}